<%- include('../partials/header') %>

<% horses.forEach((horse) => { %>
    
    <h3><%= horse.name %></h3>

    <p><strong><%= horse.name %></strong> is a <strong><%= horse.age %></strong> year old <strong><%= horse.color %></strong> <strong><%= horse.sex %></strong>. | <a href="/horses/<%= horse.id %>">Details</a></p>

    

<% }) %>
  
<a href="/">Back</a>

<%- include('../partials/footer') %>
