<%- include('../partials/header') %>

<div class="card barn-show-card">
    <h4 class="card-title text-center mt-5 mb-3">Search for a Horse</h4>
</div>

<form class="row g-2 justify-content-center" action="/horses" method="GET">
    <div class="col-auto">
        <input class="form-control" type="text" name="search" placeholder="Horse's name" aria-label="Search">
    </div>
    <div class="col-auto">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </div>
</form>

<div class="row mt-3 g-2 justify-content-center">
    <div class="col-auto">
        <a class="btn" href='/horses?sort=name'>Sort by Name</a>
    </div>
    <div class="col-auto">
        <a class="btn" href='/horses?sort=age'>Sort by Age</a>
    </div>
</div>

    <% if (!showAllLink) { %>
        <a href="/horses" class="btn">Show All Horses</a>
    <% } %>

</div>

<div class="container mt-5">
    <div class="row">
    <% horses.forEach((horse) => { %>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
        <div class="card horse-detail-card">
            <h2 class="mb-2"><%= horse.name %> </h2>
            <h4 class="mb-2"><%= horse.age %> year old <%= horse.color %> <%= horse.sex %> </h4>
            <a class="btn mt-2" href="/horses/<%= horse.id %>">See Details</a>
        </div>
    </div>
       
    <% }) %>

</div>
  
<a href="/horses/new">Add a Horse</a>

<%- include('../partials/footer') %>
