<%- include('../partials/header') %>


<%- include('../partials/header') %>

<div class="container mt-5">

    <div class="card title-card">
        <h2 class="card-title text-center"><%= horse.name %></h2>
        <a href="/horses/<%= horse.id %>/edit">Edit Horse Details</a>
        <p class="mb-0 mt-2 text-center"><%= horse.age %> year old <%= horse.color %> <%= horse.sex %> </p>
        <% if(horse.barns.length) { %>
            <p class="mt-2 text-center"><a href="/barns/<%= horse.barns[0].id %> "><%= horse.barns[0].name %></a></p>
            <% } else { %>
                <p class="mt-2 text-center">This horse has not been assigned to a barn yet. Add to barn?</p>
                <form id="add-horse-form" action="/horses/<%= horse._id %>/barns" method="POST">
                    <select class="form-control form-control-md" name="barnId">
                        <% if (barns.length) { %>
                            <%- barns.map(barn => 
                            `<option value="${barn._id}">${barn.name}</option>`
                            ).join('') %>
                        <% } else { %>
                            <option>No barns available to add</option>
                        <% } %>
                    </select>
                    <button type="submit" class="btn mt-3">Add to Barn</button> 
                </form>
            <% } %>
    </div>

    <h4 class="mb-4">Feeding Schedule</h4>
    <h5>AM Feed: <span class="feed-text"><%= horse.feed[0].amFeed %></span></h5>
    <h5>AM Meds: <span class="feed-text"><%= horse.feed[0].amMeds %></span></h5>
    <h5>Midday Feed: <span class="feed-text"><%= horse.feed[0].middayFeed %></span></h5>
    <h5>PM Feed: <span class="feed-text"><%= horse.feed[0].pmFeed %></span></h5>
    <h5>PM Meds: <span class="feed-text"><%= horse.feed[0].pmMeds %></span></h5>
    <h5>Night Feed: <span class="feed-text"><%= horse.feed[0].nightFeed %></span></h5>

    <h4 class="mb-4 mt-4">Daily Care Routine</h4>
    <h5>Turnout: <span class="feed-text"><%= horse.turnout %></span></h5>
    <h5>Blanket: <span class="feed-text"><%= horse.blanket %></span></h5>

    <h4 class="mb-4 mt-4">Important Notes</h4>
    <p><%= horse.importantInfo %></p>

</div>

<%- include('../partials/footer') %>
