<%- include('../partials/header') %>

<div class="container mt-5">

    <div class="card title-card">
        <h3 class="card-title text-center"><%= horse.name %></h3>
    
        <small class="card-text text-center">
            <%= horse.age %> year old <%= horse.color %> <%= horse.sex %>
        </small>

        
        <small class="card-text text-center">
            <% if (horse.barns.length) { %>
                <a href="/barns/<%= horse.barns[0].id %>">Back to <%= horse.barns[0].name %></a>
            <% } else { %>
                <p>This horse has not been assigned to a barn.</p>
            <% } %>
        </small>
        
    </div>


<h3>Feed</h3>
<% if (horse.feed.length) { %>
    <p>AM Feed: <%= horse.feed[0].amFeed %></p>
    <p>AM Meds: <%= horse.feed[0].amMeds %></p>
    <p>Midday Feed: <%= horse.feed[0].middayFeed %></p>
    <p>PM Feed: <%= horse.feed[0].pmFeed %></p>
    <p>PM Meds: <%= horse.feed[0].pmMeds %></p>
    <p>Night Feed: <%= horse.feed[0].nightFeed %></p>
<% } else { %>
    <p>This horse has no feed details.</p>
<% } %>

<%- include('../partials/footer') %>
