<%- include('../partials/header') %>

<div class="container mt-5">

    <div class="card title-card">
        <h3 class="card-title section-title text-center"><a href="/barns/<%= barn.id %>"><%= barn.name %></a></h3>
    </div>
        
    <div class="row mt-2">
        <h4 class="mb-3 text-center">Chores</h4>
        <form action="/barns/<%= barn.id %>/chores?_method=PUT" method="POST">
            <button type="submit" class="btn mb-2" value="clearChores">Clear All</button>
        </form>
        <div class="col-12 mb-5">
            <% if (barn.chores.length) { %>
                <ul class="list-group">
                    <% barn.chores.forEach((chore) => { %>
                        <li class="list-group-item">
                            <div class="d-flex flex-column">
                                <div class="d-flex flex-row justify-content-between">
                                    <div class="d-flex flex-row align-items-center">

                                        <form action="/barns/<%= barn.id %>/chores/<%= chore._id %>" method="POST" class="form-check ms-4 me-1 mb-2">
                                            <label class="form-check-label" for="completed">
                                            <input 
                                            name="completed" 
                                            class="form-check-input" 
                                            type="checkbox" 
                                            value="true" 
                                            id="chore_<%= chore._id %>" 
                                            onChange="this.form.submit()"
                                            <% if (chore.completed) { %> checked <% } %>
                                            >
                                            </label>
                                        </form>

                                        <h5 class="mb-0"><%= chore.chore %> </h5>
                                    </div>
                                    <div>
                                        <a class="btn arrow-btn" href="/barns/<%= barn.id %>/chores/<%= chore._id %>?direction=up"><i class="bi bi-arrow-up-square-fill"></i>
                                        </a>
                                        <a  class="btn arrow-btn" href="/barns/<%= barn.id %>/chores/<%= chore._id %>?direction=down"><i class="bi bi-arrow-down-square-fill"></i>
                                        </a>
                                    </div>
                                </div>
                                <div>
                                    <p class="mt-1"><%= chore.notes %></p>
                                </div>
                            </div>     
                        </li>
                    <% }) %>
                </ul>
                <% } else { %>
                    <p>No chores yet!</p>
                <% } %>
        </div>
    </div>

    <h4 class="mb-3 text-center">Add a Chore</h4>

    <form id="create-chore-form" class="pb-5" action="/barns/<%= barn.id %>/chores" method="POST">
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="chore">Chore</label>
                <input name="chore" type="text" class="form-control" id="name">
            </div>
            <div class="form-group col-md-12">
                <label for="notes">Notes</label>
                <textarea name="notes" class="form-control" id="notes" value="notes" placeholder="Add comments or details here!" rows="4" cols="20"></textarea>
            </div>
        </div>
        <div class="form-row mt-3">
            <button type="submit" class="btn" value="addChore">Add</button>
        </div>
    </form>


</div>
 

<%- include('../partials/footer') %>
