<%- include('../partials/header') %>

<div class="container mt-5 mb-5 d-flex flex-column align-items-center">

    <h2><a href="/barns/<%= barn.id %>"><%= barn.name %></a></h2>

    <div class="row mt-2">
        <div class="col-12">
            <h4 class="mb-3 text-center">Chores</h4>
        </div>
    </div>
    <div class="row mt-2 d-flex flex-column">
        <div class="col-12 mb-5">
            <% if (barn.chores.length) { %>
                <form action="/barns/<%= barn.id %>/chores?_method=PUT" method="POST">
                    <button type="submit" class="btn mb-2" value="clearChores">Clear All</button>
                </form>
                <ul class="list-group chores-list">
                    <% barn.chores.forEach((chore) => { %>
                        <li class="list-group-item">
                            <div class="d-flex flex-column">
                                <div class="d-flex flex-row align-items-center justify-content-between">
                                    <div class="d-flex flex-row align-items-center">

                                        <form action="/barns/<%= barn.id %>/chores/<%= chore._id %>" method="POST" class="form-check ms-4 me-1 mb-1">
                                            <label class="form-check-label" for="completed">
                                            <input 
                                            name="completed" 
                                            class="form-check-input" 
                                            type="checkbox" 
                                            value="true" 
                                            id="chore_<%= chore._id %>" 
                                            onChange="this.form.submit()"
                                            <% if (chore.completed) { %> checked <% } %>
                                            >
                                            </label>
                                        </form>

                                        <h5 class="mb-0"><%= chore.chore %> </h5> 
                                        <form class="d-inline" action="/chores/<%= chore._id %>?_method=DELETE" method="POST">
                                            <button class="btn mt-1 trash-btn" type="submit" style="background-color: white"><i class="bi bi-trash trash-icon"></i></button>
                                        </form>
                                    </div>
                                    <div>
                                        <a class="btn p-0 fs-3 arrow-btn" style="background-color: white" href="/barns/<%= barn.id %>/chores/<%= chore._id %>?direction=up"><i class="bi bi-arrow-up-square-fill arrow-icon" style="background-color: white"></i>
                                        </a>
                                        <a  class="btn p-0 fs-3 arrow-btn" style="background-color: white" href="/barns/<%= barn.id %>/chores/<%= chore._id %>?direction=down"><i class="bi bi-arrow-down-square-fill arrow-icon" style="background-color: white"></i>
                                        </a>
                                    </div>
                                </div>
                                <div>
                                    <p class="mt-1"><%= chore.notes %></p>
                                    
                                </div>
                            </div>     
                        </li>
                    <% }) %>
                </ul>
                <% } else { %>
                    <p class="text-center">No chores yet! Use the form below to add a chore.</p>
                <% } %>
            </div>
        </div>

    <div class="form-container mb-5" style="width: 100%">
        <form class="form" id="create-chore-form" class="pb-5" action="/barns/<%= barn.id %>/chores" method="POST">
            <div class="row d-flex justify-content-center">
                <h4 class="form-title mb-4 text-center">Add a Chore</h4>
            </div>
            <div class="form-row d-sm-flex gx-0 w-100">
                <div class="col-12">
                    <label for="chore">Chore</label>
                    <input name="chore" type="text" class="form-control" id="name">
                </div>
            </div>
            <div class="form-row d-sm-flex mt-2 gx-0 w-100">
                <div class="col-12">
                    <label for="notes">Notes</label>
                    <textarea name="notes" class="form-control" id="notes" value="notes" placeholder="Add comments or details here!" rows="4" cols="20"></textarea>
                </div>
            </div>
            <div class="form-row mt-3">
                <button type="submit" class="btn w-100" value="addChore">Add</button>
            </div>
        </form>
    </div>
</div>

<%- include('../partials/footer') %>
