<%- include('../partials/header') %>

<div class="container mt-5 mb-5 d-flex flex-column align-items-center">
    <div class="form-container mb-5 overflow-hidden">
        <form class="form" id="edit-barn-form" action="/barns/<%= barn.id %>?_method=PUT" method="POST">
            <div class="row d-flex justify-content-center">
                <img class="img-fluid mb-3" src="/images/barn-icon-1.png" style="max-width: 150px" alt="Barn icon"> 
                <h4 class="form-title mb-4 text-center">Edit Barn Details</h4>
            </div>
            <div class="row">
                <div class="col-12">
                    <h2>Address</h2>
                </div>
            </div>
            <div class="form-row">
                <div class="col-12">
                    <label for="name">Barn Name</label>
                    <input name="name" type="text" class="form-control" id="name" value="<%= barn.name %>">                
                </div>
            </div>
            <div class="form-row">
                <div class="col-12">
                    <label for="streetAddress">Address</label>
                    <input name="streetAddress" type="text" class="form-control" id="streetAddress" value="<%= barn.address[0].streetAddress %>">
                </div>
            </div>
            <div class="form-row d-sm-flex gx-0 w-100">
                <div class="col-12 col-sm-6 me-sm-1">
                    <label for="city">City</label>
                    <input name="city" type="text" class="form-control" id="city" value="<%= barn.address[0].city %>">
                </div>
                <div class="col-12 col-sm-3">
                    <label for="state">State</label>
                    <input name="state" type="text" class="form-control" id="state" value="<%= barn.address[0].state %>">
                </div>
                <div class="col-12 col-sm-3 ms-sm-1">
                    <label for="zip">Zip</label>
                    <input name="zip" type="text" class="form-control" id="zip" value="<%= barn.address[0].zip %>">
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-12">
                    <h2>Contact</h2>
                </div>
            </div>
            <div class="form-row">
                <div class="col-12">
                    <label for="contactName">Name</label>
                    <input name="contactName" type="text" class="form-control" id="contactName" value="<%= barn.contact[0].contactName %>">
                </div>
            </div>
            <div class="form-row">
                <div class="col-12">
                    <label for="phone">Phone Number</label>
                    <input name="phone" type="text" class="form-control" id="phone" value="<%= barn.contact[0].phone %>">                
                </div>
            </div>
            <div class="form-row">
                <div class="col-12">
                    <label for="role">Role</label>
                    <input name="role" type="text" class="form-control" id="role" value="<%= barn.contact[0].role %>">
                </div>
            </div>
            <div class="form-row">
                <div class="col-12">
                    <button type="submit" class="btn mt-4 w-100" value="Update">Update</button>
                </div>
            </div>
        </form>
        <div class="row mt-4">
            <div class="col-12">
                <h2>Horses</h2>
            </div>
        </div>
        <div class="card w-100">
            <ul class="list-group list-group-flush horse-list">
                <% barn.horses.forEach((horse) => { %>
    
                <li class="list-group-item"><%= horse.name %></li>
                
                <% }) %>
            </ul>
        </div>
        <div class="row mt-4">
            <div class="col-12">
                <h2>Add a Horse</h2>
            </div>
        </div>
        <form id="add-horse-form" action="/barns/<%= barn._id %>/horses?action=add" method="POST">
            <select class="form-control form-control-md" name="horseId">
                <option value="">-- Select a horse</option>
                <% if (horses.length) { %>
                    <%- horses.map(horse => 
                    `<option value="${horse._id}">${horse.name}</option>`
                    ).join('') %>
                <% } else { %>
                    <option>No horses available to add</option>
                <% } %>
            </select>
            <button type="submit" class="btn mt-4 w-100">Add Horse</button> 
        </form>
        <div class="row mt-4">
            <div class="col-12">
                <h2>Remove a Horse</h2>
            </div>
        </div>
        <form id="remove-horse-form" action="/barns/<%= barn._id %>/horses?action=remove" method="POST">
            <select class="form-control form-control-md" name="horseId">
                <option value="">-- Select a horse</option>
                <% if (barn.horses.length) { %>
                    <%- barn.horses.map(horse => 
                    `<option value="${horse._id}">${horse.name}</option>`
                    ).join('') %>
                <% } else { %>
                    <option>No horses left to remove.</option>
                <% } %>
            </select>
            <button type="submit" class="btn mt-4 w-100">Remove Horse</button> 
        </form>
        <form id="remove-barn-form" action="/barns/<%= barn.id %>?_method=DELETE" method="POST">
            <button type="submit" class="btn mt-4 mb-1 remove-btn">Remove Barn</button> 
            <p class="remove-btn-txt">This action cannot be undone.</p>
        </form>    
    </div>

</div>

<%- include('../partials/footer') %>
