<%- include('../partials/header') %>

<% barns.forEach((barn) => { %>
    <h2><a href='/barns/<%= barn.id %>'><%= barn.name %></a></h2>
    <h3>Address</h3>
    <p> <%= barn.address[0].houseNumber %> <%= barn.address[0].street %></p>
    <p> <%= barn.address[0].city %>, <%= barn.address[0].state %> <%= barn.address[0].zip %></p>
<% }) %>

<a href="/barns/new">Add a Barn</a>
  
<%- include('../partials/footer') %>
