<%- include('../partials/header') %>

<% barns.forEach((barn) => { %>
    <h2><a href='/barns/<%= barn.id %>'><%= barn.name %></a></h2>
    <h3>Address</h3>
    <p> <%= barn.address[0].houseNumber %> <%= barn.address[0].street %></p>
    <p> <%= barn.address[0].city %>, <%= barn.address[0].state %> <%= barn.address[0].zip %></p>
<% }) %>

<a href="/barns/new">Add a Barn</a>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <p class="p-3 fs-5 border bg-light">Hello</p>
        </div>
        <div class="col-md-8">
            <p class="p-3 fs-5 border bg-light">Hello</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <p class="p-3 fs-5 border bg-light">Hello</p>
        </div>
        <div class="col-md-3">
            <p class="p-3 fs-5 border bg-light">Hello</p>
        </div>
    </div>
</div>
  
<%- include('../partials/footer') %>
