<%- include('../partials/header') %>
  
<div class="container mt-5 d-flex flex-column align-items-center">
    <div class="row d-flex flex-column">

        <% barns.forEach((barn) => { %>

            <div class="col-12 mb-4">
                <div class="card border rounded-2 p-3 bg-white shadow barn-card">

                    <!-- SM SCREEN: MINIMALIST CARDS -->

                    <div class="d-sm-none ">
                        <div class="card-body d-flex flex-column">

                            <h5 class="card-title text-center section-title"><a href='/barns/<%= barn.id %>'><%= barn.name %></a></h5>

                            <small class="card-text text-center">
                                <%= barn.address[0].streetAddress %><br>
                                <%= barn.address[0].city %>, <%= barn.address[0].state %> <%= barn.address[0].zip %>
                            </small>

                            <small class="card-text mt-3 text-center barn-contacts-sm">
                                Primary Contact<br>
                                Secondary Contact<br>
                                <button type="button" class="btn edit-btn">
                                    <a href="/barns/<%= barn.id %>/edit"><i class="bi bi-pencil-square"></i></a>
                                </button>
                            </small>

                            <a href="/barns/<%= barn.id %>" class="btn mt-3 btn-md w-100 horses-btn">Barn Details</a>

                        </div>
                    </div>

                    <!-- LG SCREEN: BIG CARDS -->

                    <div class="row g-0 d-sm-flex d-none d-sm-block">

                            <div class="col-sm-7">
                                
                                <h5 class="card-title section-title">

                                    <%= barn.name %>
                                    <button type="button" class="btn edit-btn">
                                        <a href="/barns/<%= barn.id %>/edit"><i class="bi bi-pencil-square"></i></a>
                                    </button>

                                </h5>
                                
                                <p class="card-subtitle fs-6 mt-2"> <%= barn.address[0].streetAddress %><br>
                                    <%= barn.address[0].city %>, <%= barn.address[0].state %> <%= barn.address[0].zip %></p>
                            </div>
                            
                            <div class="col-sm-5 barn-contacts text-end">
                                <small> 
                                    Primary contact<br>
                                    Secondary Contact
                                </small>
                            </div>


                        <div class="col-md-12 horse-col">
                            <a href="/barns/<%= barn.id %>" class="btn mt-3 btn-md w-100 horses-btn">Barn Details</a>
                        </div>

                    </div>
                </div>
            </div>
        <% }) %>
    </div>
</div>

<a href="/barns/new">Add a Barn</a>


  
<%- include('../partials/footer') %>
