<%- include('../partials/header') %>

<% barn.horses.forEach((horse) => { %>

<div class="row">
    <div class="col-12 col-md-5">
        <h2><%= horse.name %> </h2>
        <p><%= horse.age %> year old <%= horse.color %> <%= horse.sex %>  </p>
        <h3>Contacts</h3>
        <% horse.contacts.forEach((contact) => { %>
            <h5><%= contact.role %>: <%= contact.firstName %><%= contact.lastName %></h5>
            <p><%= contact.phone %></p>
            <p><%= contact.email %></p>
        <% }) %>
    </div>
    <div class="col-12 col-md-7">
        <p>Turnout: <%= horse.turnout %></p>
        <p>Turnout: <%= horse.blanket %></p>
        <h3>Feed</h3>
        <% horse.feed.forEach((feed) => { %>
            <p>AM Feed: <%= feed.amFeed %> | AM Meds: <%= feed.amMeds %></p>
            <p>Midday Feed: <%= feed.middayFeed %></p>
            <p>PM Feed: <%= feed.pmFeed %> | PM Meds: <%= feed.pmMeds %></p>
            <p>Night Feed: <%= feed.nightFeed %></p>
        <% }) %>
    </div>
</div>
<div class="row col-12">
    <% horse.notes.forEach((note) => { %>
        <p><%= note.dateAdded %></p>
        <p><%= note.content %></p>
    <% }) %></div>

<% }) %>

<%- include('../partials/footer') %>
