<%- include('../partials/header') %>

<div class="container mt-5 pb-5 d-flex flex-column align-items-center">

    <h2><a href='/barns/<%= barn.id %>'><%= barn.name %></a></h2>

    <small class="card-text text-center">
        <%= barn.address[0].streetAddress %>, <%= barn.address[0].city %>, <%= barn.address[0].state %> <%= barn.address[0].zip %>
    </small>
    
    <% if (barn.contact.length) { %>
        <small class="card-text mt-2 text-center barn-contacts-sm">
            <strong><%= barn.contact[0].role %>: </strong>
            <%= barn.contact[0].contactName %> | <%= barn.contact[0].phone %><br>
        </small>
        <% }  %>
    
    <button type="button" class="btn mt-1 edit-btn edit-btn-brwn" style="background-color: var(--background)">
        <a href="/barns/<%= barn.id %>/edit"><i class="bi bi-pencil-square edit-icon-brwn" style="background-color: var(--background)"></i> &nbsp; Edit Barn Details</a> 
    </button>
    
<div class="row mt-2 justify-content-center">
    <div class="col-auto">
        <a class="btn btn-lg" href='/barns/<%= barn.id %>/chores'>Barn Chores</a>
    </div>
</div>

<div class="row mt-4 g-2 justify-content-center">
    <h3 class="text-center">Horses</h3>
    <% if (barn.horses.length) { %>
        <div class="col-auto">
            <a class="btn" href='/barns/<%= barn.id %>/horses?sort=name'>Sort by Name</a>
        </div>
        <div class="col-auto">
            <a class="btn" href='/barns/<%= barn.id %>/horses?sort=age'>Sort by Age</a>
        </div>
        <div class="col-auto">
            <a class="btn" href='/horses/new'>Add a Horse</a>
        </div>
    <% } else { %>
        <div class="row mt-4 g-2 justify-content-center">
            <div class="col-auto">
            <p>No horses have been added to this barn yet!</p>
            </div>
        </div>
        <div class="row mt-4 g-2 justify-content-center">
            <div class="col-auto">
                <a class="btn" href='/horses/new'>Add a Horse</a>
            </div>
        </div>
        <% } %>
    
</div>
    
<div class="row mt-5 d-flex flex-column flex-sm-row">
    <% barn.horses.forEach((horse) => { %>

        <div class="col-12 col-sm-6 mb-4">
            <div class="card rounded-2 p-3 bg-white shadow horse-card">
                <h2 class="mb-2"><%= horse.name %> </h2>
                <p class="mb-2"><%= horse.age %> year old <%= horse.color %> <%= horse.sex %> </p>
                <a href="/horses/<%= horse.id %>" class="btn mt-1 btn-md w-100">Horse Details</a>
            </div>
        </div>
    <% }) %>
</div>

<%- include('../partials/footer') %>
