<%- include('../partials/header') %>



<div class="container mt-5">

    <p>Sort by:</p>
<a href='/barns/<%= barn.id %>?sort=name'>Name</a>
<a href='/barns/<%= barn.id %>?sort=age'>Age</a>


    <% barn.horses.forEach((horse) => { %>
        <div class="horse-detail-card">
            <h2 class="mb-2"><%= horse.name %> </h2>
            <h4 class="mb-2"><%= horse.age %> year old <%= horse.color %> <%= horse.sex %> 
            <h3>Horse Notes</h3>
            <p><%= horse.importantInfo %></p>
            <% horse.notes.forEach((note) => { %>
                <p><%= note.dateAdded %></p>
                <p><%= note.content %></p>
            <% }) %>
        </div>        
    <% }) %>
</div>


<%- include('../partials/footer') %>
