<%- include('../partials/header') %>

<h3>Address</h3>
    <p> <%= barn.address[0].houseNumber %> <%= barn.address[0].street %></p>
    <p> <%= barn.address[0].city %>, <%= barn.address[0].state %> <%= barn.address[0].zip %></p>

<h3>Horses</h3>
<ul>
<% barn.horses.forEach((horse) => { %>
    <li><%= horse.name %> | <a href="/horses/<%= horse._id %>">Details</a></li>
<% }) %>
</ul>

<h3>Chores</h3>
<ul>
<% barn.chores.forEach((chore) => { %>
    <li><%= chore.chore %></li>
<% }) %>
</ul>

<h3>Contacts</h3>
<% if(barn.contacts.length) { %>
    <ul>
    <% barn.contacts.forEach((contact) => { %>
        <li><%= contact.firstName %> <%= contact.lastName %>
    <% }) %>
    </ul>
<% } else { %>
    <p>No Contacts Yet</p>
<% } %>

<h3>Notes</h3>
<% if(barn.notes.length) { %>
    <p><%= barn.notes[0].content %></p>
<% } else { %>
    <p>No Notes Yet</p>
<% } %>



<a href="/barns/<%= barn._id %>/edit">Edit Barn</a>

<%- include('../partials/footer') %>
