<%- include('../partials/header') %>

<% contacts.forEach((contact) => { %>
    <h3><%= contact.firstName %> <%= contact.lastName %></h3>
    <p><%= contact.phone %> | <%= contact.email %></p>
    <p><%= contact.role %></p>
    
    <h3>Barns</h3>
        <ul><% if (contact.barns.length) { %>
                <% contact.barns.forEach((barn) => { %>
                    <li><%= barn.name %></li>
                    <% }) %>
            <% } else { %>
                <li>This contact is not associated with any barns.</li>
            <% } %>
        </ul>

    <h3>Horses</h3>
    <ul><% if (contact.horses.length) { %>
        <% contact.horses.forEach((horse) => { %>
            <li><%= horse.name %></li>
        <% }) %>
        <% } else { %>
            <li>This contact is not associated with any horses.</li>
        <% } %>
    </ul>
<% }) %>
  
<%- include('../partials/footer') %>
